<div class="row dashboard-container">
  <div class="col-8 left-side">    
    <div class="col-12">
      <div class="row">
        <!-- sección de los logos -->
        <div class="col-3">
          <img width="130px" height="80px" src="/assets/img/logo2.png" alt="logo">
        </div>
        <div class="col-3 offset-6">Logo Derecha</div>
        <hr/>
        <!-- el buscador de productos -->
        <div class="col-12">          
          <div class="input-group pb-3">
            <input type="text" class="form-control" placeholder="Search Product" aria-label="Search Product" aria-describedby="Search Product" (input)="searchProducts($event)">
              <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                </svg>
              </span>
            </div>          
        </div>
        <hr/>
        <!-- la lista de productos -->
        <app-loading [showLoader]="showLoader"></app-loading>      
        <div class="col-12" >
          <div class="row">
              <div *ngIf="products.length === 0" class="col-12">              
                <div class="alert alert-light" role="alert">
                  No products found
                </div>                
              </div>
            <div class="col-3 pb-2" *ngFor="let product of products">
              <div class="card text-center">
                <img
                  class="card-img-top"          
                  width="70px"
                  height="70px"
                  [src]="product.imageURL"
                  [alt]="product.name"          
                />       
                <div class="card-body ">
                  <h5 class="card-title">
                    <span>{{product.name}}</span>            
                  </h5>
                  <div class="card-text">
                    <div class="form-group">

                     <div class="input-group pb-3">
                       <button class="input-group-text" (click)="decrementQuantity(product)">
                         -
                        </button>
                      <input type="text" [(ngModel)]="product.selectedQuantity" class="form-control text-center" placeholder="0" aria-label="0" aria-describedby="0">
                        <button class="input-group-text" (click)="incrementQuantity(product)">
                         +
                        </button>
                      </div>   
                      
                    </div>
                    <div class="form-group pt-2 pb-2">
                      <span>${{product.price}}</span>            
                    </div>
                  </div>
                  <div [class.disabled]="isProductInCart(product) || product.selectedQuantity < 1" >            
                    <button (click)="addToCart(product)" [disabled]="isProductInCart(product) || product.selectedQuantity < 1" class="btn btn-primary col">Add to Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 right-side">
    <div class="col-12">
      <div class="row">
        <div class="col-12">Carrito</div>
        <hr/>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-5">
                  <span>Item</span>
                </div>
                <div class="col-2">
                  <span>Quantity</span>
                </div>
                <div class="col-3">
                  <span>Total</span>
                </div>
                <div class="col-2">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="col-12" *ngFor="let item of cart">
              <div class="row">
                <div class="col-5">
                  <span>{{item.name}}</span>
                </div>
                <div class="col-2">
                  <span>{{item.selectedQuantity}}</span>
                </div>
                <div class="col-3">
                  <span>${{(item.price * item.selectedQuantity).toFixed(2)}}</span>
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-secondary" style="
                      background-color: red;" (click)="removeFromCart(item.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                    </svg>
              </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>